body {
    /*position: relative;*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.container {
    align-content: center;
    max-width: 800px;
    
    margin-right: auto;
    margin-right: auto;
}

.error {
    color: red;
}

.blog-title {
    font-size: x-large;
}

