<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	{% block title %}
	{% endblock %}

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link type="text/css" rel="stylesheet" href="../static/main.css">
	<link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
	<!--<link rel="stylesheet" type="text/css" href="../static/semantic/semantic.css">-->
	<link rel="stylesheet" href="../static/fawesome/css/font-awesome.min.css">

</head>
<body>
	<h1>MultiUser Blog Project</h1>
	<hr>
	{% block content %}
	{% endblock %}

</body>
</html>