<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
	<link type="text/css" rel="stylesheet" href="../static/main.css">
	<link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
<h1>Sign-up</h1>
<hr>
<div>
    <form action="/signup" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{ username }}" class="form-control">
        {% if error_username %}
            <div style="color: red">{{ error_username }}</div>
        {% endif %}
        <br>
        <label for="pass">Password</label>
        <input type="password" name="password" value="" class="form-control">
        {% if error_pass %}
            <div style="color: red">{{ error_pass }}</div>
        {% endif %}
        <br>
        <label for="passv">Verify Password</label>
        <input type="password" name="verify" value="" class="form-control">
        {% if error_passv %}
            <div style="color: red">{{ error_passv }}</div>
        {% endif %}
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{ email }}" class="form-control">
        {% if error_email%}
            <div style="color: red">{{ error_email }}</div>
        {% endif %}
        <br>
        <input type="submit" class="btn btn-default" value="Signup">
	    <a href="/login" class="btn btn-default">Login Page</a>
    </form>
</div>
</body>
</html>